/* TransitionWrapper.css */
.fade-enter {
    opacity: 0;
    transform: translateY(30px) scale(0.98);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .fade-exit {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  .fade-exit-active {
    opacity: 0;
    transform: translateY(30px) scale(0.98);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  