.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.9);
  color: #fff;
  padding: 8px 20px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  padding: 8px 12px;
  transition: all 0.3s ease;
}

.nav-bar a:hover {
  color: #ffcc00;
  background-color: #555;
  border-radius: 4px;
}

.nav-bar a.active {
  color: #ffcc00;
}

.logo-link {
  margin-right: auto;
}

.logo-img {
  width: 40px;
  height: auto;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 50%;
}

.nav-bar .logo a {
  color: #ffcc00;
  text-decoration: none;
}

.nav-bar .logo a:hover {
  color: #fff;
}

.menu-icon {
  display: none;
  cursor: pointer;
  margin-left: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .logo-link {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  .nav-bar a {
    margin: 10px 0;
    width: 100%;
  }

  .nav-bar a:hover {
    background-color: #444;
  }

  .logo-link {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    z-index: 9;
  }

  .nav-links.active {
    transform: translateY(0);
  }
}

.nav-bar .logo-link img {
  margin-right: 10px;
}
