/* Notices.css */

.notice-container {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notice-container h2 {
  font-size: 2.5rem;
  color: #221214;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.notice-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.notice-item {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.notice-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.notice-item p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

.add-notice-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.add-notice-form h2 {
  font-size: 2rem;
  color: #221214;
  margin-bottom: 20px;
  text-align: center;
}

.add-notice-form form {
  display: grid;
  gap: 20px;
}

.add-notice-form input[type="text"],
.add-notice-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.add-notice-form input[type="text"]:focus,
.add-notice-form textarea:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.5);
}

.add-notice-form textarea {
  resize: vertical;
  height: 150px;
}

.add-notice-form button[type="submit"],
.add-notice-form button[type="button"] {
  width: 100%;
  padding: 12px;
  background-color: #4ea685; /* Updated button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-notice-form button[type="submit"]:hover,
.add-notice-form button[type="button"]:hover {
  background-color: #57b894; /* Darker shade for hover */
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .notice-container {
    padding: 20px;
  }

  .notice-container h2 {
    font-size: 2rem;
  }

  .notice-grid {
    grid-template-columns: 1fr;
  }

  .notice-item {
    padding: 15px;
  }

  .notice-item p {
    font-size: 0.8rem;
  }

  .add-notice-form {
    padding: 20px;
  }

  .add-notice-form h2 {
    font-size: 1.5rem;
  }

  .add-notice-form button[type="submit"],
  .add-notice-form button[type="button"] {
    font-size: 0.9rem;
  }
}
