/* Notices.css */

.notice-container {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notice-container h2 {
  font-size: 2.5rem;
  color: #221214;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.notice-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.notice-item {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.notice-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.notice-item p {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

.notice-item .icon-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.notice-item .icon-buttons svg {
  cursor: pointer;
  font-size: 1.5rem;
  color: #777;
  transition: color 0.3s ease;
}

.notice-item .icon-buttons svg:hover {
  color: #4ea685; /* Updated color on hover */
}

.add-notice-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* Center align content */
}

.add-notice-form h2 {
  font-size: 2rem;
  color: #221214;
  margin-bottom: 20px;
}

.add-notice-form form {
  display: grid;
  gap: 20px;
}

.add-notice-form input[type="text"],
.add-notice-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

.add-notice-form input[type="text"]:focus,
.add-notice-form textarea:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.5);
}

.add-notice-form textarea {
  resize: vertical;
  height: 150px;
}

.add-notice-form button[type="submit"],
.add-notice-form button[type="button"] {
  width: 100%; /* Full width on small screens */
  padding: 12px;
  background-color: #394742; /* Updated button color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.add-notice-form button[type="submit"]:hover,
.add-notice-form button[type="button"]:hover {
  background-color: #57b894; /* Darker shade on hover */
}

.error-message {
  color: #ff6347;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
}

/* Button styles for adding notice */
.button-to-add-notice {
  display: block;
  width: 200px; /* Set fixed width or adjust as needed */
  margin: 0 auto; /* Center horizontally */
  padding: 12px;
  background-color: #2d3834; /* Primary button color */
  color: #fff; /* Text color */
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.button-to-add-notice:hover {
  background-color: #57b894; /* Darker shade on hover */
}

.button-to-add-notice:active {
  transform: translateY(1px); /* Add a slight press effect */
}

@media screen and (max-width: 768px) {
  .add-notice-form {
    padding: 20px;
  }

  .add-notice-form button[type="submit"],
  .add-notice-form button[type="button"] {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .button-to-add-notice {
    width: 100%; /
  }
}


/* Ater Submission css */

.submitted-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.thank-message {
  text-align: center;
  margin-bottom: 20px;
}

.thank-message h2 {
  font-size: 2.5rem;
  color: #221214;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.submitted-container button {
  padding: 12px 24px;
  background-color: #4ea685;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

.submitted-container button:hover {
  background-color: #57b894; /* Darker shade on hover */
}

.submitted-container button svg {
  vertical-align: middle;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .thank-message h2 {
    font-size: 2rem;
  }
}
